@import "variables"

//- Basic Style
body 
  background $white
  color $black
  font-family $baseFontFamily

.container
  display block
  width 400px
  margin 100px auto 0

ul
  margin 0
  padding 0

li * 
  float left

li
h3
  clear both
  list-style none

input
button
  outline none

button
  background none
  border 0px
  color #888
  font-size 15px
  width 60px
  margin 10px 0 0
  font-family $baseFontFamily
  cursor pointer

button:hover 
  color $gray

//- Heading
h3
label[for='new-task']
  color $black
  font-weight 700
  font-size 15px
  border-bottom 2px solid $black
  padding 30px 0 10px
  margin 0
  text-transform uppercase

input[type="text"]
  margin 0
  font-size 18px
  line-height 18px
  height 18px
  padding 10px
  border 1px solid $grayLight
  background $white
  border-radius 6px
  font-family Lato, sans-serif
  color #888

input[type="text"]:focus
  color $black


//- New Task
.add-task
  position relative
  margin-bottom 20px

  #error
    color $alert
    position absolute
    width 100%
    bottom -30px
    left 0
    opacity 0
    transition opacity .3s

label[for='new-task']
  display block
  margin 0 0 20px

input#new-task
  float left
  width 318px

  &:focus 
    box-shadow 0 0 2px $cayan

p > button:hover
  color $success


//- Task list
li 
  overflow hidden
  padding 20px 0
  border-bottom 1px solid #eee

li > input[type="checkbox"]
  margin 0 10px
  position relative
  top 15px

li > label
  font-size 18px
  line-height 40px
  width 237px
  padding 0 0 0 11px

li >  input[type="text"]
  width 226px

li > .delete:hover
  color $alert


//- Completed
#completed-tasks label
  text-decoration line-through
  color #888


//- Edit Task
ul li input[type=text]
  display none

ul li.editMode input[type=text]
  display block

ul li.editMode label
  display none

//- State
.alert 
  outline none
  box-shadow 0 0 2px $alert !important

//- Animation
.fadeIn {
  opacity 1 !important
  transition all .3s
}
