// colors
$white ?= #fff
$grayLight ?= #ddd
$black ?= #333
$lightCoral ?= #F08080
$green ?= #0FC57C
$cayan ?= #00BFFF

$success ?= $green
$alert ?= $lightCoral

// Fonts
$baseFontFamily ?= "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif